

<div class="row">
  <nav class="navbarLower">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
</div>

<div class="row">
  <nav class="navbarNew"></nav>
</div>