<li class="navbarLink">
  <%= button_to 'Home', root_path, class: 'navTab', :method => :get %>
</li>
<li class="navbarLink">
  <%= button_to 'Products', products_path, class: 'navTab', :method => :get %>
</li>
<li class="navbarLink">
  <%= button_to 'Tags', tags_path, class: 'navTab', :method => :get %>
</li>
<li class="navbarLink">
  <%= button_to 'Transcriptions', transcribed_tags_path, class: 'navTab', :method => :get %>
</li>
